<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/main.css}" rel="stylesheet" />
    <title>Crpyto News</title>

</head>
<body>
    <h1>Daily Crypto News</h1>
    <form
        action="#"
        th:action="@{/articles}"
        method="post">
        <input type="submit" value="MAGIC BUTTON TO SAVE">
        <div th:each="article : ${articleList}">
            <p><strong>ID: </strong><span th:text="${article.id}"></span></p>
            <label for="save">Save</label>
            <input type="checkbox" id="save" name="save" th:value="${article.id}">
            <img th:src="${article.imageUrl}">
            <p><strong th:text="${article.title}"></strong></p>
            <p th:text=${article.body}></p>
            <p><strong>Categories: </strong><span th:text=${article.categories}></span></p>
            <p><strong>Tags: </strong><span th:text=${article.tags}></span></p>
            <p><strong>Published On: </strong><span th:text="${article.publishedOn}"></span></p>
            <a th:href="${article.url}">Link</a><br>
            <hr>
            <br><br>
        </div>
    </form>
</body>
</html>